/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
body {
  padding-bottom: 20px;
  background-color: #313131;
  /*background-color: #3e3b3b;*/
  color: #fff;
  /*background-image: url(../img/background.jpg);*/
  /*background-position: center center;*/
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
  /*background-size: cover;*/
}

.card {
  height: fit-content;
  border-radius: 6px;
}

#second .list-group-item, #first .list-group-item, .list-group-item, .card {
  background-color: #363636;
  /*background-color: transparent;*/
}

.containerx h3, h3, h2, h1 ,p {
  text-align: center;
}
h1 {
  font-size: xx-large;
}
.flatpickr-input{
  text-align: center;
}
html {
  /*width: fit-content;*/
  /*height: fit-content;*/
  background-color: unset!important;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 900px) {
  .body {
    display: flex;
    flex-flow: column;
  }

  #first {
    order: 1;
  }

  #second {
    order: 2;
  }

  #middle {
    order: 3;
    width: auto;
  }

  .topbar {
    /* pews*/
  }
  #weatherbox{
    padding: 0.50em;
  }
}

.timepicker {
  border-radius: 5px;
  width: 7rem;
}

#windrose, #rainrose {
  width: 100%;
  height: 370px;
}
/*.topbar {*/
/*   max-height: 10rem;*/
/*}*/
/*#graph{*/
/*    margin-top: -10rem;*/
/*}*/
footer  {
  padding: 1.5rem 0.7rem 1rem!important;
}

#date, #time{
  border-radius: 4px;
}
.image-container{
  display: flex;
  justify-content: center;
}
.image-container img {
  height: 3.5rem;
  width: 3.5rem;
}

.moon{
  /* 
      Comment out the transform for 
      northern hemisphere it flips the moon
  */
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  /*height:40%;*/
  /*width:40%;*/
  height: 4rem;
  width: 4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#narrative {
  line-height: 1.5em;
  height: 3em;       /* height is 2x line-height, so two lines will display */
  overflow: hidden;  /* prevents extra lines from being visible */
  text-align: center;
}
#moontext {
  line-height: 1.5em;
  height: 1.5em;       /* height is 2x line-height, so two lines will display */
  overflow: hidden;  /* prevents extra lines from being visible */
  text-align: center;
}
#WeekdaySubHeadings{
  text-align: center;
  padding: unset;
  /*font-weight: bold;*/
}
hr{
  margin: 0.75rem 0;
}

#forecastTemp{
  text-align: center;
  padding: unset;
  font-weight: bold;
}
/*@media only screen and (max-width: 767px) {*/
/*    body {*/
/*        !* The file size of this background image is 93% smaller*/
/*        to improve page load speed on mobile internet connections *!*/
/*        background-image: url(../img/background-mobile.jpg);*/
/*    }*/
/*}*/
